# Application
NODE_ENV=development
PORT=3001
APP_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=educenter

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Superadmin (server ishga tushganda ushbu login/parol bilan avtomatik yaratiladi/sinxronlanadi)
SUPERADMIN_LOGIN_ID=37274
SUPERADMIN_PASSWORD=davron9910

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# File Upload (MinIO / S3)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=educenter
MINIO_USE_SSL=false

# SMS (Eskiz)
ESKIZ_EMAIL=your-eskiz-email@example.com
ESKIZ_PASSWORD=your-eskiz-password
ESKIZ_FROM=4546

# Telegram Bot
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

# Email (SMTP / SendGrid)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM="EduCenter Pro <noreply@educenter.uz>"

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# OTP
OTP_EXPIRES_MINUTES=10
